<% var item, key %>
<% var files = htmlWebpackPlugin.files %>
<% var options = htmlWebpackPlugin.options %>
<% var manifest = files.manifest %>
<% var meta = options.meta || {} %>
<% var title = options.title || 'Webpack App' %>
<% var favicon = files.favicon %>
<% var links = options.links || [] %>
<% var css = files.css %>
<% var baseHref = options.baseHref %>
<% var appMountId = options.appMountId %>
<% var appMountIds = options.appMountIds || [] %>
<% var globals = options.window %>
<% var scripts = options.scripts || [] %>
<% var chunks = files.chunks %>
<% var devServer = options.devServer %>
<% var googleAnalytics = options.googleAnalytics %>
<% var trackingId = googleAnalytics && googleAnalytics.trackingId %>

<!DOCTYPE html>
<!--[if lt IE 7 ]>             <html lang="en" class="ie6"<% if (manifest) { %> manifest="<%= manifest %>"<% } %>> <![endif]-->
<!--[if IE 7 ]>                <html lang="en" class="ie7"<% if (manifest) { %> manifest="<%= manifest %>"<% } %>> <![endif]-->
<!--[if IE 8 ]>                <html lang="en" class="ie8"<% if (manifest) { %> manifest="<%= manifest %>"<% } %>> <![endif]-->
<!--[if IE 9 ]>                <html lang="en" class="ie9"<% if (manifest) { %> manifest="<%= manifest %>"<% } %>> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"<% if (manifest) { %> manifest="<%= manifest %>"<% } %>> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">

    <title><%= title %></title>

    <% for (key in meta) { %>
    <meta content="<%= meta[key] %>" name="<%= key %>">
    <% } %>

    <% if (options.mobile) { %>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <% } %>

    <% if (favicon) { %>
    <link href="<%= favicon %>" rel="shortcut icon">
    <% } %>

    <% for (item of links) { %>
    <% if (typeof item === 'string' || item instanceof String) { item = { href: item, rel: 'stylesheet' } } %>
  	<link<% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %>>
    <% } %>

    <% for (key in css) { %>
    <link href="<%= css[key] %>" rel="stylesheet">
    <% } %>

    <% if (baseHref) { %>
    <base href="<%= baseHref %>">
    <% } %>
  </head>
  <body>
    <% if (options.unsupportedBrowser) { %>
    <style>.unsupported-browser { display: none; }</style>
    <div class="unsupported-browser">
      Sorry, your browser is not supported. Please upgrade to the latest version or switch your browser to use this
      site. See <a href="http://outdatedbrowser.com/">outdatedbrowser.com</a> for options.
    </div>
    <% } %>

    <% if (appMountId) { appMountIds.unshift(appMountId) } %>
    <% for (item of appMountIds) { %>
    <div id="<%= item %>"></div>
    <% } %>

    <% if (globals) { %>
    <script type="text/javascript">
      <% for (key in globals) { %>
      window['<%= key %>'] = <%= JSON.stringify(globals[key]) %>;
      <% } %>
    </script>
    <% } %>

    <% for (item of scripts) { %>
    <% if (typeof item === 'string' || item instanceof String) { item = { src: item, type: 'text/javascript' } } %>
    <script<% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %>></script>
    <% } %>

    <% for (key in chunks) { %>
    <script src="<%= chunks[key].entry %>" type="text/javascript"></script>
    <% } %>

    <% if (devServer) { %>
    <script src="<%= devServer %>/webpack-dev-server.js" type="text/javascript"></script>
    <% } %>

    <% if (googleAnalytics) { %>
    <script type="text/javascript">
      !function(o,n,f,a,t,e,r){o.GoogleAnalyticsObject=t,o[t]=o[t]||function(){(o[t].q=o[t].q||[]).push(arguments)},o[t].l=1*new Date,e=n.createElement(f),r=n.getElementsByTagName(f)[0],e.async=1,e.src=a,r.parentNode.insertBefore(e,r)}(window,document,"script","//www.google-analytics.com/analytics.js","ga")
      <% if (trackingId) { %>
      ga("create","<%= trackingId %>","auto")
      <% } else { throw new Error("html-webpack-template requires googleAnalytics.trackingId config"); }%>
      <% if (googleAnalytics.pageViewOnLoad) { %>
      ga("send","pageview")
      <% } %>
    </script>
    <% } %>
  </body>
</html>
